#README
README.md

# System files
.DS_Store

# Object files
obj/
*.o

# Executables
*.out

# Temp files
*.swp

# GITIGNORE
#.gitignore

# FILES
.txt
outfile
infile

# Text directory and files
test/
*.txt

# Debug directory and files
*.dSYM/

# Visual Studio Code directory and files
.vscode/

# Visualizer directory and files
push_swap_visualizer-master/